[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "layers/ii/osc52e"]
	path = layers/ii/osc52e
	url = ./layers/ii/osc52e/
[submodule "layers/emacs-reveal/local/emacs-reveal"]
	path = layers/emacs-reveal/local/emacs-reveal
	url = https://gitlab.com/oer/emacs-reveal
[submodule "layers/ii/local/ob-javascript"]
	path = layers/ii/local/ob-javascript
	url = https://github.com/zweifisch/ob-javascript.git
